body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  /* good afternoon */

h1, h2, h3 {
    text-align: center;
}
h1, h2, h3{
    font-family: 'Jost', sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 26px;
  font-weight: normal;
}
  
.navbar {
background-color: #49694d;
color: white;
padding: 10px 0;
text-align: center;
font-family: 'Jost', sans-serif;
font-size: 20px;
}
.navbar a {
color: white;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
}
.navbar a:hover {
background-color: #ffffff;
color: black;
}
.container {
width: 80%;
margin: 20px auto;
}

.lesson-intro {
    font-size: 23 px;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(226, 221, 221);
    display: inline-block;
}

.video {
  background-color: #49694d; 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  padding: 20px; 
  width: 500px; 
  height: 300px;
  margin: 20px auto; 
}

.video iframe {
  display: block; 
  width: 100%; 
  height: 100%; 
}

 
/* same css as index - add module css if needed */